$bg-color: #333;
$app-color-light: rgb(179, 217, 253);
$app-color-dark: rgba(40, 81, 119, 0.158);
$box-shadow-borders-color: rgba(40, 81, 119, 0.699);
$input-bg-color: rgb(232, 244, 255);

$high-importance-color: tomato;
$medium-importance-color: yellow;
$low-importance-color: green;


